# Data join

Programa que sirve para leer y tratar todos los csv ya preprocesados.

- Convierte los csv mensuales que se tienen en local en parquet.
- Se suben manualmente los parquets a Github a la carpeta /data.
- Lee todos los parquets y los agrupa en un solo dataframe para poder trabajar con él.
- Guarda el dataframe en la carpeta data.

### Conversión csv a parquet

In [5]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from pathlib import Path

# Ruta de la carpeta de descargas
ruta_carpeta_descargas = str(Path.home() / "Downloads")

archivos_csv = [archivo for archivo in os.listdir(ruta_carpeta_descargas) if archivo.endswith(".csv")]

for archivo_csv in archivos_csv:
    ruta_archivo_csv = os.path.join(ruta_carpeta_descargas, archivo_csv)
    dataframe = pd.read_csv(ruta_archivo_csv)
    
    tabla = pa.Table.from_pandas(dataframe)
    
    nombre_archivo_parquet = archivo_csv[:-4] + ".parquet"
    ruta_archivo_parquet = os.path.join(ruta_carpeta_descargas, nombre_archivo_parquet)
    
    pq.write_table(tabla, ruta_archivo_parquet)

    print(f"csv convertido a parquet: {ruta_archivo_parquet}")

Archivo CSV convertido a Parquet: C:\Users\MADI\Downloads\submission.parquet
Archivo CSV convertido a Parquet: C:\Users\MADI\Downloads\submission2.parquet

### Subida a github de los parquets en la carpeta data

Se suben los parquets a github en la carpeta data

### Join de los parquets en un solo df

In [1]:
import os
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

ruta_actual = os.getcwd()
ruta_data = os.path.join(ruta_actual, "data")

archivos_parquet = [archivo for archivo in os.listdir(ruta_data) if archivo.endswith('.parquet')]

dataframes = []

for archivo_parquet in archivos_parquet:
    ruta_parquet = os.path.join(ruta_data, archivo_parquet)
    tabla = pq.read_table(ruta_parquet)
    dataframe = tabla.to_pandas()
    dataframes.append(dataframe)

dataframe_completo = pd.concat(dataframes, ignore_index=True)

In [2]:
dataframe_completo

,index,station_id,houryear,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,...,dayofweek,time2,Rain,Rain_Lectura,year,dayyear,Wind,Wind_Lectura,AñoMes,traffic
0,0,1,2081,16.000000,16.000000,0.0,14.0,1.0,1.0,1.0,...,3,2019-03-28,0,0.0,2019,87,0,6.6,201903,NaN
1,4665,70,2081,21.000000,21.000000,0.0,5.0,1.0,1.0,1.0,...,3,2019-03-28,0,0.0,2019,87,0,6.6,201903,NaN
2,29692,425,2081,27.000000,27.000000,0.0,0.0,1.0,1.0,1.0,...,3,2019-03-28,0,0.0,2019,87,0,6.6,201903,NaN
3,4741,71,2081,18.000000,18.000000,0.0,3.0,1.0,1.0,1.0,...,3,2019-03-28,0,0.0,2019,87,0,6.6,201903,NaN
4,22422,316,2081,25.000000,25.000000,0.0,1.0,1.0,1.0,1.0,...,3,2019-03-28,0,0.0,2019,87,0,6.6,201903,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45018844,288553,398,8759,3.000000,3.000000,0.0,32.0,1.0,1.0,1.0,...,5,2022-12-31,0,0.0,2022,365,0,8.6,202212,NaN
45018845,144282,204,8759,14.000000,12.000000,2.0,18.0,1.0,1.0,1.0,...,5,2022-12-31,0,0.0,2022,365,0,8.6,202212,NaN
45018846,2975,4,8759,19.000000,19.000000,0.0,2.0,1.0,1.0,1.0,...,5,2022-12-31,0,0.0,2022,365,0,8.6,202212,NaN
45018847,129428,183,8759,21.666667,14.666667,7.0,9.0,1.0,1.0,1.0,...,5,2022-12-31,0,0.0,2022,365,0,8.6,202212,NaN
45018848,142794,202,8759,3.000000,1.000000,2.0,24.0,1.0,1.0,1.0,...,5,2022-12-31,0,0.0,2022,365,0,8.6,202212,NaN

### Se guarda el parquet en la misma carpeta de data

In [3]:
ruta_resultante = os.path.join(ruta_data, "data.parquet")
tabla_resultante = pa.Table.from_pandas(dataframe_completo)
pq.write_table(tabla_resultante, ruta_resultante)